### WordPress ###

# WORDPRESS FILES
*.log
wp-config.php
wp-content/languages/
wp-content/upgrade/
wp-includes/
wp-admin/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
/.htaccess
/license.txt
/licencia.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

# THEMES
wp-content/themes/twentysixteen/
wp-content/themes/twentyfifteen/
wp-content/themes/twentyseventeen/assets/
wp-content/themes/storefront/assets/images/
wp-content/themes/storefront/languages/
wp-content/themes/storefront/screenshot.png
wp-content/themes/platzicomes/languages/
wp-content/themes/Divi/

# PLUGINS
wp-content/plugins/akismet/
wp-content/plugins/user-switching/
wp-content/plugins/simple-membership/
wp-content/plugins/restrict-content/
wp-content/plugins/js_composer/
wp-content/plugins/gutenberg/
wp-content/plugins/custom-post-type-ui/images/
wp-content/plugins/advanced-custom-fields/core/
wp-content/plugins/advanced-custom-fields/images/
wp-content/plugins/advanced-custom-fields/lang/
wp-content/plugins/post-expirator/languajes/

# API
app/LICENSE
app/README.md

# END OF CUSTOM FILES

